<hlm-dialog>
  <button hlmDialogTrigger hlmBtn variant="outline">
    <div class="flex justify-center items-center w-full">
      <lucide-icon [name]="PlusIcon" [size]="15" class="mr-2" />
      <span>Agregar nuevo contenido</span>
    </div>
  </button>
  <hlm-dialog-content *brnDialogContent="let ctx">
    <form (submit)="onSubmit($event)">
      <hlm-dialog-header>
        <h1 brnDialogTitle hlm class="text-2xl font-bold">Agregar nueva obra</h1>
        <p brnDialogDescription hlm class="text-muted-foreground">
          Completa los datos para agregar una nueva obra a la Medioteca.
        </p>
      </hlm-dialog-header>
      <div class="flex flex-col gap-1">
        <label for="media-tittle" class="font-semibold"
          >Tipo de obra <span class="text-red-500">*</span></label
        >
        <hlm-combobox [itemToString]="itemToString" (valueChange)="onMediaTypeChange($event)">
        <hlm-combobox-input placeholder="Selecciona un tipo de obra"></hlm-combobox-input>
        <div *brnPopoverContent hlmComboboxContent>
            <hlm-combobox-empty>No hay tipos disponibles</hlm-combobox-empty>
            <div hlmComboboxList>
            @for (mediaType of mediaTypes; track $index) {
                <hlm-combobox-item [value]="mediaType" >{{ mediaType.name }}</hlm-combobox-item>
            }
            </div>
        </div>
        </hlm-combobox>
      </div>
      <div class="flex flex-col gap-1">
        <label for="media-title" class="font-semibold"
          >Título <span class="text-red-500">*</span></label
        >
        <input
          [formField]="createMediaForm.title"
          id="media-title"
          placeholder="Título de la obra"
          class="py-2 px-1"
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="media-description" class="font-semibold"
          >Descripción</label
        >
        <input
          [formField]="createMediaForm.description"
          id="media-description"
          placeholder="Descripción de la obra"
          class="py-2 px-1"
        />
      </div>
      <hlm-dialog-footer class="mt-2">
        <button hlmBtn variant="outline" type="button" brnDialogClose [disabled]="loading()">Cancelar</button>
        <button hlmBtn type="submit" [disabled]="loading()">
          <div class="flex gap-2 justify-center items-center">
            Agregar
            @if (loading()) {
              <lucide-icon [name]="LoaderIcon" class="w-4 h-4 animate-spin" />
            }
          </div>
        </button>
      </hlm-dialog-footer>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
